@model ForumCategoryDto

<main class="forum-category-content">
    <header>
        <div class="forum-category-data">
            <h1 class="forum-category-name">@Model.Name</h1>
            <p class="forum-category-description">
                @Model.Description
            </p>
        </div>
        <div class="forum-category-actions">
            <a href="/Threads/Create?categoryId=@Model.Id" class="forum-category-action-button">Post Thread</a>
        </div>
    </header>
    <hr class="forum-category-content-separator" />
    <main>
        <input id="forum-category-content-threads-search" type="text" placeholder="Search threads..." name="query" />
        <div class="forum-category-content-threads">
            <div class="forum-category-content-thread-row">
                <img class="forum-category-thread-thumbnail" src="~/images/icons/default-user-thumbnail.png" alt="...">
                <div class="forum-category-thread-primary-info">
                    <h1 class="forum-category-thread-title">Hello there!</h1>
                    <p class="forum-category-thread-timestamp">Posted by Tronald, 3 days ago.</p>
                </div>
                <div class="forum-category-thread-secondary-info">
                    <div class="forum-category-thread-replies">
                        <div><span class="forum-category-thread-replies-label">Replies</span>:</div>
                        <span class="forum-category-thread-replies-value">55</span>
                    </div>
                    <div class="forum-category-thread-views">
                        <span class="forum-category-thread-views-label">Views:</span>
                        <span class="forum-category-thread-views-value">1356</span>
                    </div>
                </div>
                <div class="forum-category-thread-activity-info">
                    <div class="forum-category-thread-activity-timestamp">
                        <span class="forum-category-thread-activity-timestamp-value">10 minutes ago</span>
                        <span class="forum-category-thread-activity-tomestamp-user">Prakash</span>
                    </div>
                    <img class="forum-category-activity-thumbnail" src="~/images/icons/default-user-thumbnail.png" alt="...">
                </div>
            </div>
        </div>
    </main>
</main>