@model HomeViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_MainLayout";
}

<h1 class="forum-content-main-heading">Forums</h1>
@foreach(var forumSection in Model.Sections) 
{
    <section class="forum-content-section">
        <h1 class="forum-content-section-heading">@forumSection.Name</h1>
        <div class="forum-content-section-categories">
            @foreach(var forumCategory in forumSection.Categories) 
            {
                <div class="forum-content-category">
                    <img class="forum-content-category-icon" src="@forumCategory.ThumbnailImageUrl" alt="..." />
                    <div class="forum-content-category-info">
                        <div class="forum-content-category-details">
                            <a class="forum-content-category-title" href="/Categories/@forumCategory.Id">@forumCategory.Name</a>
                            <span class="forum-content-category-description">@forumCategory.Description</span>
                        </div>
                        <div class="forum-content-category-latest-topic">
                            <a class="forum-content-category-latest-topic-title" href="#">Greetings!</a>
                            <span class="forum-content-category-latest-topic-details">Posted by samuel.jackson at 03:34 on 12.12.2022</span>
                        </div>
                    </div>
                </div>
            }
    </section>
}

<h1>TODO: Date mapping utility</h1>
<ul>
    <li>Minutes ago</li>
    <li>Hours ago</li>
    <li>Days ago</li>
    <li>Weeks ago</li>
    <li>Months ago</li>
    <li>Years and months ago</li>
</ul>