<div class="forum-admin-panel-context-menu">
    <ul class="forum-admin-panel-menu-items">
        <li class="forum-admin-panel-menu-item">
            <a href="" id="forum-admin-panel-context-menu-details">Details</a>
        </li>
        <li class="forum-admin-panel-menu-item">
            <a href="" id="forum-admin-panel-context-menu-modify">Modify</a>
        </li>
        <li class="forum-admin-panel-menu-item">
            <span id="forum-admin-panel-context-menu-delete">Delete</span>
        </li>
    </ul>
</div>
<script src="~/js/adminPanelForumSectionContextMenu.js"></script>