<div class="forum-admin-panel-delete-modal">
    <div class="forum-admin-panel-delete-modal-backdrop"></div>
    <div class="forum-admin-panel-delete-modal-body">
        <h1 class="forum-admin-panel-delete-modal-title">Delete <span class="forum-admin-panel-delete-modal-entity"></span> - <span class="forum-admin-panel-delete-modal-id"></span></h1>
        <hr class="forum-admin-panel-delete-modal-divisor" />
        <div class="forum-admin-panel-delete-modal-content">
            Are you sure you want to delete the <span class="forum-admin-panel-delete-modal-entity"></span> - <span class="forum-admin-panel-delete-modal-name"></span>?
        </div>
        <hr class="forum-admin-panel-delete-modal-divisor" />
        <div class="forum-admin-panel-delete-modal-actions">
            <form class="forum-admin-panel-delete-modal-form" method="post">
                <button class="forum-admin-panel-delete-modal-confirm">Confirm</button>
            </form>
            <button class="forum-admin-panel-delete-modal-cancel">Cancel</button>
        </div>
    </div>
</div>
<script src="~/js/adminPanelDeleteModal.js"></script>