@model List<ForumThreadDto>

@inject ITimestampMappingUtility timestampMappingUtility

<div class="forum-content-sidebar-component">
    <header class="forum-content-sidebar-component-header">Latest Threads</header>
    <main class="forum-content-sidebar-component-content">
        @foreach(var thread in Model) 
        {
            <div class="forum-content-thread-group">
                <a href="/Threads/@thread.Id" class="forum-content-thread-group-heading">
                    @thread.Title
                </a>
                <div class="forum-content-thread-group-details">
                    Posted by @thread.CreatedBy.UserName @timestampMappingUtility.MapTimestamp(thread.CreatedOn)
                </div>
            </div>
        }
    </main>
</div>