@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="forum-content-sidebar-component">
    <header class="forum-content-sidebar-component-header">Social Media</header>
    <main class="forum-content-sidebar-component-content"></main>
</div>
<vc:forum-statistics></vc:forum-statistics>
<div class="forum-content-sidebar-component">
    <header class="forum-content-sidebar-component-header">Users Online</header>
    <main class="forum-content-sidebar-component-content">
        <div class="forum-content-group">
            <label class="forum-content-group-label">Total:</label>
            <span class="forum-content-group-value">150</span>
        </div>
        <div class="forum-content-group">
            <label class="forum-content-group-label">Registered:</label>
            <span class="forum-content-group-value">19</span>
        </div>
        <div class="forum-content-group">
            <label class="forum-content-group-label">Guests:</label>
            <span class="forum-content-group-value">131</span>
        </div>
    </main>
</div>
<div class="forum-content-sidebar-component">
    <header class="forum-content-sidebar-component-header">Latest Threads</header>
    <main class="forum-content-sidebar-component-content">
        <div class="forum-content-thread-group">
            <a href="#" class="forum-content-thread-group-heading">
                How to implement Facebook integration with ASP.NET Core?
            </a>
            <div class="forum-content-thread-group-details">
                Posted by pesho.peshov at 15:39 on 21.01.2023
            </div>
        </div>
        <div class="forum-content-thread-group">
            <a href="#" class="forum-content-thread-group-heading">
                Payment with PayPal in ASP.NET Core doesn't work. Why?
            </a>
            <div class="forum-content-thread-group-details">
                Posted by tronald.dump at 11:11 on 19.01.2023
            </div>
        </div>
    </main>
</div>