@inject IForumInternalRoutingUtility forumInternalRoutingUtility

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DevLounge</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>
    <div class="container">
        <header class="forum-header">
            <div class="forum-brand">
                <a href="/">Forum</a>
            </div>
            <nav class="forum-navigation">
                <partial name="_LoginPartial" />
            </nav>
        </header>
        @if (forumInternalRoutingUtility.InternalRoutingVisibility)
        {
            <div class="forum-internal-routing">
                @foreach(var routingElement in forumInternalRoutingUtility.RoutingElements) 
                {
                    <a href="@routingElement.Value">@routingElement.Key</a>
                }
            </div>
        }
        <main class="forum-content">
            <main class="forum-content-main-side">
                @RenderBody()
            </main>
            <aside class="forum-content-right-side">
                <partial name="_MainLayoutAside" />
            </aside>
        </main>
        <footer class="forum-footer">
            &#169; 2023 Sanity Design Studios | All rights reserved.
        </footer>
    </div>
</body>
</html>