/* Global Styles */
/* Global Styles */
:root {
    --red-color: #F08080;
    --dark-blue-color: #00008D;
    --sky-blue-color: #0991c7;
    --gray-color: #BDBDBD;
}

body {
    font-family: Consolas, serif;
}

a {
    text-decoration: none;
    outline: none;
    color: #00008B;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 10px 6px 6px #00008B;
}

/* Main Layout Styling */

.container {
    width: 90%;
    margin: auto;
    font-family: Consolas, serif;
}

.forum-header {
    display: flex;
    justify-content: space-between;
    background-color: #87CEEB;
}

    .forum-header .forum-brand {
        font-size: 24px;
        padding: 15px;
    }

        .forum-header .forum-brand:hover {
            cursor: pointer;
        }

.forum-navigation {
    padding: 15px;
}

    .forum-navigation .forum-navigation-items {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    .forum-navigation .forum-navigation-item a {
        text-decoration: none;
        color: #00008B;
        width: 100%;
    }

    .forum-navigation .forum-navigation-item {
        width: 150px;
        font-size: 16px;
        text-align: center;
    }

        .forum-navigation .forum-navigation-item:hover {
            cursor: pointer;
        }



.forum-content {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

    .forum-content .forum-content-right-side {
        width: 15%;
        height: 100vh;
    }

    .forum-content .forum-content-main-side {
        width: 85%;
    }

.forum-content-main-heading {
    margin: 25px 0;
    font-size: 28px;
    font-weight: bold;
}

/* Index Styling */

.forum-content-main-side .forum-content-section {
    margin-top: 25px;
}

.forum-content-section-heading {
    width: 97%;
    padding: 0 0 10px 5px;
    border-bottom: 5px solid #000000;
    font-size: 22px;
    font-weight: bold;
}

.forum-content-main-side .forum-content-category {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
}

.forum-content-main-side .forum-content-category-icon {
    width: 50px;
    height: 50px;
    padding: 10px 0;
}

.forum-content-category-info {
    width: calc(100% - 100px);
    display: flex;
    justify-content: space-between;
}

.forum-content-main-side .forum-content-category-details {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    padding: 10px 0;
}

    .forum-content-main-side .forum-content-category-details .forum-content-category-title {
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        color: #000000;
    }

    .forum-content-main-side .forum-content-category-details .forum-content-category-description {
        margin-top: 10px;
    }

.forum-content-main-side .forum-content-category-latest-topic {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    color: #909090;
}

    .forum-content-main-side .forum-content-category-latest-topic .forum-content-category-latest-topic-title {
        text-decoration: none;
        color: #404040;
    }

    .forum-content-main-side .forum-content-category-latest-topic .forum-content-category-latest-topic-details {
        margin-top: 10px;
    }

/* Main Layout Sidebar */

.forum-content-sidebar-component:not(:first-child) {
    margin-top: 25px;
}

.forum-content-sidebar-component-header {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-left: 5px solid #00008B;
    border-bottom: 5px solid #00008B;
}

.forum-content-sidebar-component-content {
    padding: 10px;
    font-size: 16px;
    margin-left: 5px;
}

.forum-content-group {
    margin: 5px 0 10px 0;
}

.forum-content-thread-group:not(:first-child) {
    margin: 30px 0;
}

.forum-content-thread-group-heading {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.forum-content-thread-group-details {
    margin-top: 5px;
    font-size: 18px;
    text-decoration: none;
    color: #909090;
}

.forum-footer {
    padding: 20px 0;
    font-size: 20px;
    text-align: center;
}

/* Forum Login Form Styling */

.forum-login-divider, .forum-register-divider {
    height: 2px;
    width: 100%;
    background-color: #BDBDBD;
}

.forum-form {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.forum-form-group {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.forum-form-label {
    font-size: 18px;
    font-weight: bold;
    color: var(--dark-blue-color);
}

.forum-form-control {
    border-radius: 5px;
    outline: none;
    border: 1px solid #BDBDBD;
    padding: 10px 15px;
    margin-top: 5px;
    font-family: 'Consolas', sans-serif;
}

.forum-form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.forum-form-button {
    border-radius: 5px;
    border: 1px solid #BDBDBD;
    padding: 10px 15px;
    background-color: #87CEEB;
    color: #FFFFFF;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Consolas', sans-serif;
}

/* Forum Admin Panel Stylings */

.forum-admin-panel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.forum-admin-panel-column {
    width: 24%;
}

.forum-admin-panel-column-header {
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border-left: 5px solid #00008B;
    border-right: 5px solid #00008B;
    border-bottom: 5px solid #00008B;
}

.forum-admin-panel-column-content {
    height: calc(100vh - 230px);
    overflow-y: auto;
    border-left: 5px solid #00008B;
    border-right: 5px solid #00008B;
}

.forum-admin-panel-column-element {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    padding: 15px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #909090;
}

.forum-admin-panel-column-element-label {
    padding-top: 10px;
}

.forum-admin-panel-column-element-actions {
}

    .forum-admin-panel-column-element-actions img {
        padding: 10px;
        width: 15px;
        height: 15px;
        border-radius: 7.5px;
        /* border: 1px solid #909090; */
        cursor: pointer;
    }

.forum-admin-panel-create-button {
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 5px solid #00008B;
    cursor: pointer;
    transition: background-color .3s;
}

    .forum-admin-panel-create-button:hover {
        background-color: #00008B;
    }

.forum-admin-panel-create-button-icon {
    background-color: #00008B;
    padding: 5px 10px 7px 10px;
    border-radius: 50px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 25px;
    transition: background-color .3s, color .3s;
}

.forum-admin-panel-create-button-label {
    padding: 5px 10px;
    font-weight: bold;
    font-size: 25px;
    margin-left: 10px;
    transition: color .3s;
}

.forum-admin-panel-create-button:hover .forum-admin-panel-create-button-icon {
    background-color: #FFFFFF;
    color: #00008B;
}

.forum-admin-panel-create-button:hover .forum-admin-panel-create-button-label {
    color: #FFFFFF;
}

/* Forum Admin Panel Context Menu Styling */

.forum-admin-panel-context-menu {
    position: fixed;
    display: none;
    border-radius: 10px;
    border: 1px solid #BDBDBD;
    background-color: #FFFFFF;
    padding: 5px;
    z-index: 1001;
}

.forum-admin-panel-menu-item {
    padding: 5px 10px;
    margin: 10px 0;
    cursor: pointer;
}

/* Create Section Page Styling */

.create-section-form-holder {
    width: 100%;
    height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

    .create-section-form-holder > * {
        margin: 0 auto 0 auto;
    }

    .create-section-form-holder select {
        font-size: 16px;
    }

/* Create Category Page Styling */

.create-category-form-holder {
    width: 100%;
    height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

    .create-category-form-holder .forum-form {
        width: 60%;
    }

    .create-category-form-holder .forum-create-category-form-content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .create-category-form-holder .forum-create-category-main-info {
        width: 48%;
    }

    .create-category-form-holder .forum-create-category-image-info {
        width: 48%;
    }

    .create-category-form-holder > * {
        margin: 0 auto 0 auto;
    }

    .create-category-form-holder select {
        font-size: 16px;
    }

/* Error Page Styling */

.error-page-holder {
    width: 40%;
}

.error-page-heading {
    font-size: 30px;
    font-weight: bold;
    color: #00008B;
}

.error-page-comforting-message-holder {
    display: flex;
    justify-content: space-between
}

.error-page-comforting-message {
    font-size: 24px;
    color: #00008B;
    margin: 50px 0;
}

.error-page-comforting-image {
    width: 200px;
    height: 200px;
}

.error-page-details {
}

.error-page-message {
    font-size: 20px;
    color: #00008B;
}

/* Forum Section Details Page Styling */

.forum-section-details-wrapper {
    width: 100%;
}

.forum-section-details-info {
    display: flex;
    justify-content: space-between;
}

.forum-section-details-primary-info {
    width: 50%;
    margin-top: 20px;
}

.forum-section-details-secondary-info {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.forum-section-details-secondary-info-row {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

    .forum-section-details-secondary-info-row > * {
        width: 30%;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .forum-section-details-secondary-info-row span:first-child {
        font-weight: bold;
        font-size: 22px;
    }

    .forum-section-details-secondary-info-row span:not(:first-child) {
        margin-top: 10px;
    }

.forum-section-details-name {
    font-size: 30px;
    font-weight: bold;
}

.forum-section-details-divisor {
    height: 2px;
    background-color: #00008B;
}

.forum-section-details-categories-heading {
    font-weight: bold;
    font-size: 25px;
    margin-top: 100px;
    width: 100%;
}

.forum-section-details-categories {
    width: 95%;
    margin-top: 25px;
    margin-bottom: 100px;
}

    .forum-section-details-categories tbody {
        display: block;
        height: 50vh;
        overflow-y: auto;
    }

    .forum-section-details-categories thead tr {
        display: table;
        width: 100%;
        height: 50px;
        font-size: 21px;
        font-weight: bold;
        background-color: #EDEDED;
    }

        .forum-section-details-categories thead tr th {
            padding: 15px 10px;
            text-align: start;
        }

            .forum-section-details-categories thead tr th:first-child {
                border-radius: 10px 0 0 10px;
            }

            .forum-section-details-categories thead tr th:last-child {
                border-radius: 0 10px 10px 0;
            }

    .forum-section-details-categories tbody tr {
        display: table;
        width: 100%;
        height: 25px;
        font-size: 19px;
    }

        .forum-section-details-categories tbody tr td {
            padding: 15px 10px;
        }

            .forum-section-details-categories tbody tr td:not(:nth-child(2)) {
                vertical-align: middle;
            }

.forum-section-details-description {
    font-size: 20px;
}

.forum-section-details-category-id {
    width: 10%;
}

.forum-section-details-category-thumbnail {
    width: 15%;
}

    .forum-section-details-category-thumbnail img {
        max-height: 100px;
        max-width: 100px;
    }

.forum-section-details-category-name {
    width: 25%;
}

.forum-section-details-category-created-by {
    width: 25%;
}

.forum-section-details-category-created-on {
    width: 25%;
}

/* Forum Admin Panel Delete Modal Styling */

.forum-admin-panel-delete-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1002;
}

.forum-admin-panel-delete-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(150, 150, 150, 0.7);
    z-index: 1003;
}

.forum-admin-panel-delete-modal-body {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border: 5px solid var(--red-color);
    width: 450px;
    height: 350px;
    left: calc(100% - 50% - 225px);
    top: calc(100% - 50% - 175px);
    border-radius: 10px;
    z-index: 1004;
}

.forum-admin-panel-delete-modal-title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 15px 25px;
    color: var(--red-color);
    margin-top: 10px;
}

.forum-admin-panel-delete-modal-divisor {
    height: 2px;
    background-color: var(--red-color);
    border: none;
    width: 85%;
}

.forum-admin-panel-delete-modal-content {
    font-size: 22px;
    color: var(--dark-blue-color);
    text-align: center;
    padding: 10px 25px;
    line-height: 40px;
    height: 135px;
}

.forum-admin-panel-delete-modal-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.forum-admin-panel-delete-modal-confirm,
.forum-admin-panel-delete-modal-cancel {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    outline: none;
    border: none;
}

.forum-admin-panel-delete-modal-confirm {
    background-color: #FFFFFF;
    color: var(--red-color);
    border: 2px solid var(--red-color);
}

    .forum-admin-panel-delete-modal-confirm:hover {
        background-color: var(--red-color);
        color: #FFFFFF;
    }

.forum-admin-panel-delete-modal-cancel {
    border: 2px solid var(--dark-blue-color);
    color: var(--dark-blue-color);
    background-color: transparent;
}

    .forum-admin-panel-delete-modal-cancel:hover {
        background-color: var(--dark-blue-color);
        color: #FFFFFF;
    }

/* Forum Category Page Styling */

.forum-category-content {
    width: 95%;
    min-height: calc(90vh - 30px);
}

    .forum-category-content header {
        display: flex;
        justify-content: space-between;
    }

    .forum-category-content .forum-category-cover-image {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }

        .forum-category-content .forum-category-cover-image img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 15px;
        }

.forum-category-data {
    width: 50%;
}

.forum-category-name {
    font-size: 24px;
    font-weight: bold;
}

.forum-category-description {
    margin-top: 10px;
    font-size: 16px;
    color: #7D7D7D;
}

.forum-category-actions {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.forum-category-action-button {
    height: 45px;
    line-height: 45px;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #FFFFFF;
    background-color: var(--dark-blue-color);
    font-family: Consolas, serif;
    font-size: 18px;
    font-weight: bold;
}

.forum-category-content-separator {
    width: 100%;
    height: 5px;
    margin-top: 25px;
    background-color: var(--dark-blue-color);
}

.forum-category-content main {
}

#forum-category-content-threads-search {
    margin-top: 10px;
    width: calc(98% + 10px);
    font-family: Consolas, serif;
    color: --dark-blue-color;
    padding: 10px 10px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #BDBDBD;
}

.forum-category-content-threads {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.forum-category-content-thread-row {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    border-bottom: 1px solid #BDBDBD;
}

    .forum-category-content-thread-row:first-child {
        border-top: 1px solid #BDBDBD;
        margin-top: 10px;
    }

.forum-category-thread-thumbnail {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.forum-category-thread-primary-info {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 20px;
    padding: 15px 10px;
}

.forum-category-thread-title {
    font-size: 20px;
    font-weight: bold;
    color: var(--dark-blue-color);
}

.forum-category-thread-timestamp {
    margin-top: 15px;
    font-size: 14px;
    color: #7D7D7D;
}

.forum-category-thread-secondary-info {
    display: flex;
    flex-direction: column;
    width: 10%;
    padding: 15px 10px;
}

.forum-category-thread-replies {
    display: flex;
    justify-content: space-between;
    color: var(--dark-blue-color);
}

.forum-category-thread-replies-label {
    font-size: 18px;
    font-weight: bold;
}

.forum-category-thread-replies-value {
    font-size: 16px;
}

.forum-category-thread-views {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    color: #7D7D7D;
}

.forum-category-thread-views-label {
    font-size: 16px;
    font-weight: bold;
}

.forum-category-thread-views-value {
    font-size: 16px;
}

.forum-category-thread-activity-info {
    width: calc(30% - 75px);
    display: flex;
    justify-content: flex-end;
    padding: 15px 0px 15px 10px;
}

.forum-category-thread-activity-timestamp {
    display: flex;
    flex-direction: column;
}

.forum-category-thread-activity-timestamp-value {
    text-align: end;
    color: var(--dark-blue-color);
    font-size: 16px;
}

.forum-category-thread-activity-tomestamp-user {
    margin-top: 15px;
    color: #7D7D7D;
    font-size: 14px;
    text-align: end;
}

.forum-category-activity-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
}

/* Create Forum Thread Page Styling */

.forum-create-thread {
    width: 97.5%;
}

    .forum-create-thread header {
    }

.forum-create-thread-heading {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: var(--dark-blue-color);
}

.forum-create-thread-divider {
    width: 100%;
    height: 5px;
    background-color: var(--dark-blue-color);
    margin-top: 25px;
}

.forum-create-thread main {
}

.forum-create-thread-form {
    width: 100%;
}

    .forum-create-thread-form textarea {
        resize: none;
    }

    .forum-create-thread-form
    .forum-form-group:first-child {
        margin-top: 10px;
    }

    .forum-create-thread-form
    .forum-form-group:not(:first-child) {
        margin-top: 15px;
    }

/* Details Forum Thread Page Styling */

.forum-thread-details-container {
}

    .forum-thread-details-container > header {
    }

        .forum-thread-details-container > header > h1 {
            font-size: 24px;
            font-weight: bold;
            color: var(--dark-blue-color);
        }

        .forum-thread-details-container > header > div {
            display: flex;
            width: 20%;
            justify-content: space-between;
            font-size: 18px;
            color: #8D8D8D;
            margin-top: 5px;
        }

.forum-thread-details-divider {
    width: 98.5%;
    margin: 10px 0 0 0;
    height: 3px;
    background-color: var(--dark-blue-color);
}

.forum-thread-details-container .forum-thread-replies {
}

.forum-thread-details-container .forum-thread-reply {
    width: 98%;
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid var(--dark-blue-color);
}

    .forum-thread-details-container .forum-thread-reply > header {
        display: flex;
        flex-direction: column;
        width: 12.5%;
        background-color: #FAFAFA;
        padding: 10px;
        border-right: 3px solid var(--dark-blue-color);
    }

    .forum-thread-details-container .forum-thread-reply .forum-thread-reply-user-thumbnail {
        width: 100px;
        height: 100px;
        margin: 10px auto;
        border-radius: 50%;
    }

    .forum-thread-details-container .forum-thread-reply .forum-thread-reply-user-name {
        font-size: 22px;
        text-align: center;
        font-weight: bold;
        color: var(--dark-blue-color);
    }

    .forum-thread-details-container .forum-thread-reply .forum-thread-reply-user-info {
        margin-top: 10px;
        font-size: 16px;
    }

        .forum-thread-details-container .forum-thread-reply .forum-thread-reply-user-info div {
            margin-top: 5px;
            display: flex;
            justify-content: space-between;
        }

    .forum-thread-details-container .forum-thread-reply > main {
        width: 87.5%;
        margin-top: 5px;
        padding: 0 1px 0 20px;
        display: flex;
        flex-direction: column;
    }

        .forum-thread-details-container .forum-thread-reply > main > header {
            display: flex;
            justify-content: space-between;
            height: 30px;
            margin-top: 10px;
            border-bottom: 1px solid #BDBDBD;
        }

    .forum-thread-details-container .forum-thread-reply .forum-reply-index-actions {
        display: flex;
        justify-content: space-around;
        width: 5%;
    }

        .forum-thread-details-container .forum-thread-reply .forum-reply-index-actions .forum-reply-index-actions-share {
            width: 15px;
            height: 15px;
            cursor: pointer;
        }

        .forum-thread-details-container .forum-thread-reply .forum-reply-index-actions .forum-reply-index-actions-hyperlink {
        }

    .forum-thread-details-container .forum-thread-reply > main > main {
        width: 100%;
        margin-top: 10px;
        min-height: 140px;
        max-height: 100%;
        padding-bottom: 10px;
        border-bottom: 1px solid #BDBDBD;
    }

    .forum-thread-details-container .forum-thread-reply > main > footer {
        height: 70px;
        display: flex;
        justify-content: flex-end;
    }

.forum-thread-post-reply {
    width: 98%;
    margin-top: 50px;
    margin-right: 0;
    border-top: 3px solid var(--dark-blue-color);
}

.forum-thread-post-reply-discussion {
    display: block;
    width: 97.5%;
    height: 90%;
    resize: none;
    border: 1px solid #BDBDBD;
    padding: 10px 15px;
    font-size: 16px;
    color: var(--dark-blue-color);
}

    .forum-thread-post-reply-discussion:focus {
        outline: none;
    }

.forum-thread-post-reply .forum-thread-reply {
    width: 100%;
}

    .forum-thread-post-reply .forum-thread-reply > main > main {
        margin-top: 10px;
        min-height: 200px;
        max-height: 100%;
        padding-bottom: 10px;
        border-bottom: 1px solid #BDBDBD;
    }

    .forum-thread-post-reply .forum-thread-reply > main > footer {
        margin-top: 20px;
    }

    .forum-thread-post-reply .forum-thread-reply > main > footer {
        height: 70px;
        margin: 0;
    }

.forum-thread-details-button {
    border-radius: 5px;
    border: 1px solid var(--dark-blue-color);
    font-size: 16px;
    font-weight: bold;
    color: var(--dark-blue-color);
    background-color: transparent;
    cursor: pointer;
    padding: 15px 15px 30px 15px;
    margin: 10px 0 10px 0;
}

    .forum-thread-details-button:hover {
        color: #FFFFFF;
        background-color: var(--dark-blue-color);
    }

.forum-thread-details-container .forum-thread-reply > .forum-reply-to-reply-header {
    background: transparent;
    border-right: 0px;
    padding-right: 3px;
}

.nesting-container {
    margin: 10px 0 20px 20px;
}

/* Forum Internal Routing Styling */
.forum-internal-routing {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

    .forum-internal-routing a {
        padding: 10px;
        color: var(--gray-color);
    }

        .forum-internal-routing a:not(:last-child)::after {
            display: flex;
            position: relative;
            bottom: 42%;
            left: 100%;
            content: '';
            width: 20px;
            height: 20px;
            ;
            background: url("/images/icons/chevron-right.svg") no-repeat bottom;
        }

        .forum-internal-routing a:first-child {
            padding-left: 0;
        }

        .forum-internal-routing a:hover, .forum-internal-routing a:last-child:hover {
            color: var(--dark-blue-color);
        }

        .forum-internal-routing a:last-child {
            color: #4D4D4D;
        }

/* Forum File Upload (Customized) Styling */

.forum-file-upload-container {
    position: relative;
    border: 2px solid var(--gray-color);
    border-radius: 30px;
    padding: 10px;
    margin-top: 10px;
    max-width: 500px;
    max-height: 300px;
}

    .forum-file-upload-container .forum-file-upload-icon-holder {
        padding: 10px;
        display: flex;
        justify-content: center;
    }

    .forum-file-upload-container .forum-file-upload-current-image {
        width: 100%;
        height: 100%;
        max-width: 500px;
        max-height: 300px;
        border-radius: 30px;
    }

    .forum-file-upload-container .forum-file-upload-current-image-edit-icon {
        position: absolute;
        left: 35px;
        top: 35px;
        max-width: 25px;
        max-height: 25px;
    }

    .forum-file-upload-container .forum-file-upload-icon-holder .forum-file-upload-icon {
        width: 50px;
        height: 50px;
        margin: auto;
    }

    .forum-file-upload-container .forum-file-upload-primary-caption {
        margin-top: 10px;
        padding: 10px;
        font-size: 24px;
        text-align: center;
    }

    .forum-file-upload-container .forum-file-upload-secondary-caption {
        display: flex;
        justify-content: center;
        margin: 10px 0 20px;
        font-size: 18px;
    }

        .forum-file-upload-container .forum-file-upload-secondary-caption .forum-file-upload-inline-label {
            color: var(--sky-blue-color);
            padding: 0 9px;
        }

            .forum-file-upload-container .forum-file-upload-secondary-caption .forum-file-upload-inline-label .forum-file-upload-inline-input {
                display: none;
            }
