@model ForumSectionDto

@{
}

<div class="create-section-form-holder">
    <h1 class="forum-content-main-heading">Create Section</h1>
    <form class="forum-form" asp-area="Administration" asp-controller="ForumSectionsAdministration" asp-action="Create" method="post">
        <hr class="forum-login-divider" />
        <div class="forum-form-group">
            <label asp-for="Name" class="forum-form-label">Name</label>
            <input asp-for="Name" class="forum-form-control" type="text" name="name" placeholder="Name..." />
        </div>
        <div class="forum-form-group">
            <label asp-for="Description" class="forum-form-label">Description</label>
            <input asp-for="Description" class="forum-form-control" type="text" name="description" placeholder="Description..." />
        </div>
        <hr class="forum-login-divider" />
        <div class="forum-form-buttons">
            <button class="forum-form-button">Create Section</button>
            <a asp-area="Administration" 
            asp-controller="AdministrationPanel" 
            asp-action="Index" 
            class="forum-form-button">Admin Panel</a>
        </div>
    </form>
</div>